@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background: #222;
    color: #fff;
    font-size: 1rem;
}

a {
    color: #fff;
    text-align: center;
}

.container {
    max-width: 728px;
    margin: auto;
    padding: 1rem;
}

.container>h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

h1 {
    text-transform: capitalize;
    font-size: 1.1rem;
}

button {
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    background: #0dbbac;
    color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.Card {
    background: #333;
    padding: 1rem;
    margin-bottom: 1rem;
}

.Card--body {
    color: #999;
}